body {
}
.page-header{
text-align: center;
}
/*.navbar-header{
    position: absolute ;
}*/
.header-footer {
    background-color: forestgreen;
    color: white;
    
}
.carousel-container {
    display: inline;
    width: 100%; /* Set width to 100% */
    min-height: 200px;

    /*margin: 0px;*/
}
